.banner {
  background-image: url("/Images/Hero Section.png");
  background-size: cover;
  background-position: center;
  color: #3333;
  padding: 10em 5em;
}

.banner h1 {
  font-size: 70px;
  margin-bottom: 20px;
  color: rgb(33, 31, 31);
  max-width: 600px;
}

.banner h6 {
  font-size: 25px;
  color: #00cadd;
}

.banner p {
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 400px;
  color: grey;
}

.shop-now {
  background-color: #00aaff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.shop-now:hover {
  background-color: #0088cc;
}
.banner button img {
  width: 20px;
  height: 20px;
}

.banner button {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .banner {
    display: flex;
    background-image: url("/Images/Hero Section.png");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3333;
    padding: 5em 4em;
  }
  .banner h1 {
    font-size: 35px;
    color: rgb(33, 31, 31);
    max-width: 700px;
    text-align: center;
    font-weight: 600;
  }
  .banner h6 {
    font-size: 25px;
    color: #00cadd;
    text-align: center;
  }
  .banner p {
    font-size: 18px;
    max-width: 400px;
    color: grey;
    text-align: center;
  }
}
