.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #009caa;
  padding: 1em;
}
.shop{
  margin-left: 1.8em;
}


.header-bottom ul {
  list-style: none;
  display: flex;
  gap: 2em;
  padding: 0;
  margin: 0;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  margin-left: 10em;
}

.line {
  width: 50px;
  height: 5px;
  color: #fff;
  background-color: #fff;
  margin-top: 0.2em;
  margin-left: 0.5em;
}

.line:hover {
  color: orange;
  background-color: orange;
}

.header-bottom ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 5px 10px;
}

.header-bottom ul li a:hover {
  color: orange;
}

img {
  width: 5px;
  height: 8px;
}

.auth-links a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: lighter;
}


.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}

.menu-item span {
  font-size: 18px;
}

.menu-icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.large-dropdown {
  display: flex;
  flex-direction: row;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.small-dropdown {
  width: 100px;
}

.small-dropdown ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
  padding: 10px;
}

.dropdown-section h4 {
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.dropdown-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-section li {
  font-size: 14px;
  color: #555;
  border: none;
  
}

.dropdown-section li:hover {
  background-color: #f0f0f0;
  border-radius: 15px;
}

.small-dropdown li:hover {
  background-color: #f0f0f0;
  border-radius: 15px;
}


.hamburger-menu {
  display: none; 
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 1001; 
}

.hamburger-menu div {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}


.menu-open .hamburger-menu div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-open .hamburger-menu div:nth-child(2) {
  opacity: 0;
}

.menu-open .hamburger-menu div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1000;
}

.menu-open .overlay-menu {
  transform: translateY(0);
}

.overlay-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.overlay-menu li {
  margin: 20px 0;
}

.overlay-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s ease-in-out;
}

.overlay-menu a:hover {
  color: orange;
}


@media (max-width: 768px) {
  .hamburger-menu {
    display: flex; 
  }
.nav-links{
  display: none;
}
  
}
